extends layout


mixin h(id, text)
	.section(id='#{id}-section')&attributes(attributes)
		div
			h2.expander.pointer.collapsed(data-toggle='collapse', data-target='##{id}', href='##{id}') #{text}
		.sectionContent.collapse(id='#{id}')
			block

mixin header()
	div.header&attributes(attributes)
		h1(id='davidMorton') {{Name}}
		h1(id='occupation') {{Occupation}}
		h1.print , {{Occupation}} - {{Phone}} - {{Email}}
		h1.links.screen {{Phone}}
		h1.links.screen
			span(ng-repeat="link in Links")
				a(href='{{link.Address}}') {{link.Name}}
				| {{$last ? '' : ' | '}}

block content
	.context(ng-controller="resumeController")
		script
			include ../public/javascripts/foot.js
			
		+header()(class='real')

		+header()(class='fake screen')

		.body-content
			+h('profile', 'About Me')(class='screen')
				{{Profile}}

			+h('profile-print', 'Profile')(class='print')
				{{Profile}}

			+h('skills', 'Technical Skills')
				p.skill(ng-repeat="skill in Skills")
					span.skillCategory {{skill.Category + ":&nbsp;"}}
					span= "{{skill.Values.join(', ')}}"
			
			+h('exp', 'Experience')
				.experience(ng-repeat="position in Experience")
					div.pointer.collapsed.jobtitle(data-toggle='collapse', data-target='#exp{{$index}}', href='#exp{{$index}}')
						p.alignleft.expander.role {{position.Title}}, {{position.Company}}
						p.alignright.role {{position.StartDate}}-{{position.EndDate}}
					.experienceDetails.collapse(id='exp{{$index}}')
						ul
							li(ng-repeat="highlight in position.Achievements") {{highlight}}

			+h('addlexp', 'Additional Activities')
				p(ng-repeat="activity in AdditionalExperience")
					i {{activity.Title}}
					br/
					| {{activity.Description}}

			+h('awards', 'Awards and Certifications')
				p(ng-repeat="award in Awards")
					i {{award}}

			+h('education', 'Education')
				p {{Education}}

			+h('references', 'References')(class='print')
				p {{References}}

			+h('about', 'About This Resume')(class='screen')
				p {{About}}

			+h('about-print', 'About This Resume')(class='print')
				p {{AboutPrint}}

			.footer
